correlacionWS_demo/SOA/WSDLs/correlacion.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="correlacion"
     targetNamespace="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:cor="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion/correlationset"
     xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
     xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    >
    <plnk:partnerLinkType name="correlacion">
        <plnk:role name="correlacionProvider" portType="client:correlacion"/>
        <plnk:role name="correlacionRequester" portType="client:correlacionCallback"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="estado">
        <plnk:role name="correlacionEstado" portType="client:correlacionEstado"/>
    </plnk:partnerLinkType>
    <vprop:propertyAlias propertyName="cor:msg_id" xmlns:client="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion"
         messageType="client:correlacionRequestMessage" part="payload"/>
    <vprop:propertyAlias propertyName="cor:msg_id" xmlns:client="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion"
         messageType="client:correlacionEstado" part="payload"/>
    <wsdl:import namespace="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion/correlationset"
         location="correlacion_properties.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/correlacionWebServices_demo/correlacionWS_demo/correlacion"
                 schemaLocation="../Schemas/correlacion.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="correlacionRequestMessage">
        <wsdl:part name="payload" element="client:nombre"/>
    </wsdl:message>
    <wsdl:message name="correlacionEstado">
        <wsdl:part name="payload" element="client:estado"/>
    </wsdl:message>
    <wsdl:message name="correlacionResponseMessage">
        <wsdl:part name="payload" element="client:mensaje"/>
    </wsdl:message>
    <wsdl:portType name="correlacion">
        <wsdl:operation name="process">
            <wsdl:input message="client:correlacionRequestMessage"/>
            <wsdl:output message="client:correlacionEstado"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="correlacionCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:correlacionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="correlacionEstado">
        <wsdl:operation name="estado">
            <wsdl:input message="client:correlacionRequestMessage"/>
            <wsdl:output message="client:correlacionEstado"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
